img {
  height: 100px;
}

.centrar {
  display: flex;
  justify-content: center;
}

.example-container {
  width: 1200px;
  min-width: 300px;
  height: calc(100vh - 164px);
  overflow: auto;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 20%;
}

.table-button-row button {
  display: inline;
  margin: 5px;
}

.bg-amarillo {
  background-color: hsl(34, 100%, 50%);
}

.btn-new {
  margin-top: 10px;
}



.imagenSinDatos {
  width: 100%;
  height: 100%;
}
