.full-width-input{
    width: 100%;
}

.centrar{
    display: flex;
    justify-content: center;
}
.modal{
    height: 100%;
}

#file{
    font-size: 14px;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 3px 4px 8px black;
    width: 100%;
    outline: none;
}

::-webkit-file-upload-button{
    color: #fff;
    background: #3F51B5;
    padding: 15px;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 0 1px #6b4559;
    outline: none;
}

::-webkit-file-upload-button:hover{
    background: #6a7ad6;
}

.imagenes{
    margin-top: 20px;
    text-align: center;

    img{
        width: 200px;
        height: 200px;
    }

}

