<!--Carrito de compras para agregar los productos por los cuales el usuario tiene algun interes-->
<div class="centrar">
  <div class="example-container">
    <div *ngIf="hasData; else viewSinDatos">
      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>

      <div class=" mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
          </ng-container>

          <ng-container matColumnDef="cantidadCompra">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
            <td mat-cell *matCellDef="let row"> {{row.cantidadCompra}} </td>
          </ng-container>


          <ng-container matColumnDef="URLimagen">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Imagen </th>
            <td mat-cell *matCellDef="let row">
              <img src={{row.URLimagen}} alt=""> </td>
          </ng-container>

          <ng-container matColumnDef="precioUnitario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio Unitario </th>
            <td mat-cell *matCellDef="let row"> {{row.precioUnitario}} </td>
          </ng-container>


          <ng-container matColumnDef="precioTotal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio Total </th>
            <td mat-cell *matCellDef="let row"> {{row.precioTotal}} </td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let row">
              <div class="table-button-row">
                <button mat-flat-button color="warn" (click)="showModalDelete(row)">Eliminar</button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
        
      </div>

      <button mat-raised-button color="primary" class="btnFactura" routerLink="/factura">Formalizar Compra</button>

    </div>
    <ng-template #viewSinDatos>
      <img class="imagenSinDatos" src="../../../assets/img/error.png" alt="">
    </ng-template>
  </div>
</div>
