.login{
    padding: 4rem 1rem;

}
mat-card{
    max-width: 320px;
    height: auto;
    margin: auto;
    text-align: center;
   

}

.full-width-input, .btn{
    width: 100%;
}

button{
    margin-top: 10px;
}

mat-card-content img{
    width: 100px;
    margin-top: 10px;
}
mat-card-content a{
    text-decoration: none;
    display: block;
    color: #3F51B5;
}





